<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		 <div class="row">
		 	<div class="col-sm-4">
		 		 <p> &copy 2020 VLG. Theme by <a href="http://www.allanlab.org/aboutwebsite.html">Allan Lab</a>. </p>
            <hr />&copy; 
            <a href='http://www.ethz.ch/' target='_blank'><nobr>ETH Zurich</nobr></a> | 
            <a href='http://www.inf.ethz.ch' target='_blank'><nobr>Department of Computer Science</nobr></a> | 
            <a href='https://ivc.ethz.ch/' target='_blank'><nobr>Institute of Visual Computing</nobr></a> | 
            <a href='/contact/'>imprint</a>
            </div>
            </div>
	</div>
  </div>
</div>